.taco5{
    text-align: center;
    
}

.taco6{
    
    text-align: center;
}

.taco1{
    text-align: center;
    font-size: large;
    background-color: antiquewhite;
    width: auto;
    height: auto;
}
.taco2{
    text-align: center;
    font-size: 60px;
    background-color: antiquewhite;
}